<% query_scripts %>
<% query_styles %>

<table class="query-columns">
  <tr>
    <td class="available">
      <%= query_columns_available query %>
    </td>
    <td class="buttons available-buttons">
      <%= query_columns_available_buttons %>
    </td>
    <td class="selected">
      <%= query_columns_selected query %>
    </td>
    <td class="buttons selected-buttons">
      <%= query_columns_selected_buttons %>
    </td>
  </tr>
</table>