<% previous_group = false %>

<table class="queryable-list">
  <thead>
    <tr>
      <%= query_list_headers query %>
    </tr>
  </thead>
  <tbody>
    <%= query_list_items query, items %>
  </tbody>
</table>
